* {
  box-sizing: border-box;
}

.card {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.card-word,
.card-translation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: auto;
}

.app>.container {
  display: flex;
  justify-content: space-between;
}

.app>.btn-container {
  display: flex;
  justify-content: center;
}

.btn-containe {
  position: absolute;
}

.correct {
  color: white;
  background-color: green;
  border: none;
}

.error {
  color: white;
  background-color: red;
  border: none;
}

header h1 {
  text-align: center;
}